.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.app-message {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtext0);
}
